[submodule "c-interfaces-and-implementations"]
	path = vendor/c-interfaces-and-implementations
	url = git@github.com:drh/cii.git
[submodule "lua-5.4.8"]
	path = vendor/lua-5.4.8
	url = git@github.com:lua/lua.git
